#form {
    margin: 0;
    text-align: left;
    max-width: 800px;
    min-width: 615px;
}

form input {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

form .button {
    min-width: initial;
    max-width: initial;
    margin-bottom: 0;

}

#form select {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    resize: vertical;
}