html, body {
    min-height: 100%;
    overflow: hidden;
    margin: 0;
}

#background {
    min-width: 100%;
    min-height: 100vh;
    text-align: center;
    padding-top: 2em;
    background: url("Images/background.png") no-repeat center;
    background-size: cover;
}

input.navBar {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    padding: 0;
    border: 0;
    width: 125px;
    height: 30px;
    background-color: #000099;
    color: #FFFFFF
}

input.navBar:hover {
    background-color: #191970;
    cursor: pointer;
}

input.button {
    Margin-top: 10px;
    height: 30px;
    Width: 80px;
    background-color: #4169e1;
    color: #FFFFFF;
}

#bond {
    display: inline-block;
    border: 1px;
    width: 600px;
    height: auto;
    Background-image: url("Images/Login.png");
    Background-size: 600px;
    Border-radius: 25px;
    padding: 3em 0;
}