#form {
    margin: 0;
    text-align: left;
    max-width: 800px;
    min-width: 615px;
}

#title,#text {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}

#form select {
    margin-bottom: 10px;
}