* {box-sizing:border-box}

.slideshow-container {
  display: inline-block;
  height: 320px;
}

.mySlides {
  display: none;
}

.prev, .next {
  display: inline;
  vertical-align: 120px;
  cursor: pointer;
  width: 5px;
  margin: 48px;
  padding: 16px 16px 16px 16px;
  color: #717171;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  top: 170px;
}

.prev {
  border-radius:  3px 0 0 3px ;
}

.next {
  border-radius: 0 3px 3px 0;

}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 8px 4px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}	  